Hi there,

Please enter the following verification code to verify your account:

{{ .VerificationCode }}

Couldn't copy paste verification code?
Try opening the following link:

{{ .VerificationURL }}